.error-message{
    color: red;
    font-size: 20px;
    font-weight: 500;
}
.card{
    width: 400px;
    margin-left: 20%;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
    

}